include:
  - docker/libSQL/docker-compose.yml
services:
  pb:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: pb
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8090:8090"
    volumes:
      - pb-data:/app/db/pb_data
    networks:
      - app-network

  caddy:
    image: caddy:2-alpine
    container_name: caddy
    restart: unless-stopped
    ports:
      - "8000:8000"
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy-data:/data
      - caddy-config:/config
    networks:
      - app-network
    depends_on:
      - pb

volumes:
  app-data:
  pb-data:
  caddy-data:
  caddy-config:

networks:
  app-network:
    driver: bridge
