services:
  libsql-primary:
    container_name: libsql-primary
    image: ghcr.io/tursodatabase/libsql-server:latest
    restart: unless-stopped
    ports:
      - "8080:8080"   # HTTP API
      - "5001:5001"   # gRPC
    volumes:
      - ../db/libsql/primary:/var/lib/sqld
    environment:
      - SQLD_NODE=primary
      - SQLD_GRPC_LISTEN_ADDR=0.0.0.0:5001
      - SQLD_HTTP_LISTEN_ADDR=0.0.0.0:8080

  libsql-replica:
    container_name: libsql-replica
    image: ghcr.io/tursodatabase/libsql-server:latest
    restart: unless-stopped
    depends_on:
      - libsql-primary
    ports:
      - "8081:8080"   # HTTP API
    volumes:
      - ../db/libsql/replica:/var/lib/sqld
    environment:
      - SQLD_NODE=replica
      - SQLD_PRIMARY_URL=http://libsql-primary:5001
      - SQLD_HTTP_LISTEN_ADDR=0.0.0.0:8080
